body {
    padding: 0;
    background-color: rgb(204, 222, 240);
    display: block;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(172, 187, 202);
    width: 100%;
    margin: 20px 0px;
    border: double 8px rgb(65, 42, 56);
    border-radius: 8px;
}

header > h1 {
    font-size: 23px;
}

main {
    margin: 10px 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(99, 121, 143);
    border-radius: 8px;
    
}

#pref-rs, #pref-fora{
    background-color: rgb(68, 86, 104);
    margin: 5px;
    padding: 10px 10px;
    border-radius: 8px;
}


.icons {
    margin: 0px 5px;
    padding: 0;
    width: 20px;
    height: 25px;
}

.pref-div {
    display: flex;
    margin: 3px ;
    padding: 3px;
    border: solid 2px black;
    border-radius: 5px;
    background-color: rgb(104, 68, 90);
}

.div-name {
    margin: 0px 5px;
    padding: 0px 5px;
}

.div-name {
    width: 60%;
}

button {
    background-color: rgb(104, 68, 90);

    width: 5em;
    margin: 1px;
    padding: 1px;
}







footer {
    background-color: rgb(78, 77, 182);
    padding: 3px 10px;
    border-radius: 3px;
}

footer > p {
    margin: 0;
    font-weight: 600;
    font-size: 80%;
    
}

